/* Background */ .chroma { background-color: #ffffff }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #a61717; background-color: #e3d2d2 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #ffffff;}
/* KeywordConstant */ .chroma .kc { color: #ff9d00;  }
/* KeywordDeclaration */ .chroma .kd { color: #ff9d00; }
/* KeywordNamespace */ .chroma .kn { color: #ff9d00; }
/* KeywordPseudo */ .chroma .kp { color: #ff9d00; }
/* KeywordReserved */ .chroma .kr { color: #ff9d00; }
/* KeywordType */ .chroma .kt { color: #445588;  }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: #ffffff }
/* NameBuiltin */ .chroma .nb { color: #ffffff }
/* NameBuiltinPseudo */ .chroma .bp { color: #ffffff }
/* NameClass */ .chroma .nc { color: #ffffff; }
/* NameConstant */ .chroma .no { color: #ffffff }
/* NameDecorator */ .chroma .nd { color: #ffffff; }
/* NameEntity */ .chroma .ni { color: #ffffff }
/* NameException */ .chroma .ne { color: #ffffff; }
/* NameFunction */ .chroma .nf { color: #ff9d00 !important}
/* NameFunctionMagic */ .chroma .fm, .chroma .fm > a { color: #ff9d00 !important; }
/* NameLabel */ .chroma .nl { color: #ffffff; }
/* NameNamespace */ .chroma .nn { color: #ffffff }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: #ffffff }
/* NameVariable */ .chroma .nv { color: #ffffff }
/* NameVariableClass */ .chroma .vc { color: #ffffff }
/* NameVariableGlobal */ .chroma .vg { color: #ffffff }
/* NameVariableInstance */ .chroma .vi { color: #ffffff }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l { color: #ff628c; }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color: #3ad900 }
/* LiteralStringAffix */ .chroma .sa { color: #3ad900 }
/* LiteralStringBacktick */ .chroma .sb { color: #3ad900 }
/* LiteralStringChar */ .chroma .sc { color: #3ad900 }
/* LiteralStringDelimiter */ .chroma .dl { color: #3ad900 }
/* LiteralStringDoc */ .chroma .sd { color: #3ad900 }
/* LiteralStringDouble */ .chroma .s2 { color: #3ad900 }
/* LiteralStringEscape */ .chroma .se { color: #3ad900 }
/* LiteralStringHeredoc */ .chroma .sh { color: #3ad900 }
/* LiteralStringInterpol */ .chroma .si { color: #3ad900 }
/* LiteralStringOther */ .chroma .sx { color: #3ad900 }
/* LiteralStringRegex */ .chroma .sr { color: #3ad900 }
/* LiteralStringSingle */ .chroma .s1 { color: #3ad900 }
/* LiteralStringSymbol */ .chroma .ss { color: #3ad900 }
/* LiteralNumber */ .chroma .m { color: #ff628c }
/* LiteralNumberBin */ .chroma .mb { color: #ff628c }
/* LiteralNumberFloat */ .chroma .mf { color: #ff628c }
/* LiteralNumberHex */ .chroma .mh { color: #ff628c }
/* LiteralNumberInteger */ .chroma .mi { color: #ff628c }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ff628c }
/* LiteralNumberOct */ .chroma .mo { color: #ff628c }
/* Operator */ .chroma .o { color: #ffffff;  }
/* OperatorWord */ .chroma .ow { color: #ffffff;  }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #0088ff; font-style: italic !important;}
/* CommentHashbang */ .chroma .ch { color: #999988; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #999988; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #999988; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #999999; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #999999; font-style: italic }
/* CommentPreprocFile */ .chroma .cpf { color: #999999; font-style: italic }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: #000000; background-color: #ffdddd }
/* GenericEmph */ .chroma .ge { color: #000000; font-style: italic }
/* GenericError */ .chroma .gr { color: #aa0000 }
/* GenericHeading */ .chroma .gh { color: #999999 }
/* GenericInserted */ .chroma .gi { color: #000000; background-color: #ddffdd }
/* GenericOutput */ .chroma .go { color: #9c9c9c }
/* GenericPrompt */ .chroma .gp { color: #555555 }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #aaaaaa }
/* GenericTraceback */ .chroma .gt { color: #aa0000 }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #bbbbbb }
