body, body.dark, .dark .docs-toc-link, .dark .docs-sidebar .nav > li:not(.active) > a, .dark .modal button.close, .dark input, .dark .form-control, .dark .form-control:focus {
/*  background: #1f2229 !important;
  background-color: #1f2229 !important;; */
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

/*navbar*/

a.navbar-brand {
  font-weight: 100 !important;
}

a.nav-link {
  font-size: 18px !important;
}

.navbar .navbar-nav .nav-link.active {
  font-weight: 100 !important;
}


/* headings */

h1, h2, h3, h4, h5, h6, .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  font-family: Open Sans,Lucida Sans Unicode,Lucida Grande,sansSerif;
  margin-top: 1rem;
  margin-bottom: .5rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  /* Ensure long words do not overflow into content. */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  /* Add a hyphen where the word breaks (use `&shy;` to insert a soft-hyphen in a word). */
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual; }

h1, .dark h1 {
  color: #ffffff;
  font-weight: 300;
}

h2, .dark h2 {
  color: #adbcc9;
  font-weight: 600;
}

h3, .dark h3 {
  color: #69afff;
  font-weight: 600;
}

/* posts */

#posts {
  padding-top: 25px ;
}
h3.article-title > a {
/*h  text-transform: none !important;
  color: #69afff !important; */
  font-weight: 300;
  }

.article-container {
  max-width: 1000px;
}

.media-body > ul.network-icon > li > a {
/*.media-body > ul.network-icon > li > a:link, .media-body > ul.network-icon > li > a:visited */
  color: #69afff !important;
}

/* sharebox */

ul.share > li > a {
  color: #69afff !important;
}

.card-title > a {
/*.card-title > a:link, .card-title > a:visited */
  color: #ffffff !important;
  text-decoration: none !important;
}

.author-card .card-title {
  margin-bottom: 3px
}

.media-body > ul.network-icon > li > a {
  color: #ffffff !important;
}

/* about section */

#about {
  color: #1f2229; /*#ffffff*/
  /*ackground-color: #59aaff; */
background: rgb(65,158,255);
background: linear-gradient(125deg, rgba(65,158,255,1) 0%, rgba(150,201,255,1) 100%);
}

.home-section {
  padding-bottom: 30px !important;
}

ul.network-icon > li > a, .institution, .institution > a {
/*ul.network-icon > li > a:link, ul.network-icon > li > a:visited, .institution */
    color: #ffffff !important; /*#ffffff*/
    text-decoration: none !important;
}

/*
.institution, .institution > a {
    color: #fffffff !important; #1f2229
    text-decoration: none !important;
} */


.portrait-title > h3 > a {
  color: #d9e5ff !important; /*1f2229*/
}

.portrait-title > h2,  {
  font-weight: 100 !important;

}

#about h1 , #about h3 {
  color: #ffffff; /*#1f2229*/
  font-weight: 400;
}

#role {
  font-weight: 100 !important; /*1f2229*/
  color: #1f2229 !important;
}

.fa-graduation-cap, .fa-briefcase{
  top: 0 !important;
}

ul.ul-edu li .description p.year {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6); }

/*footer*/

footer {
  background-color: #1f2229;
  margin-top: 0 !important;
}

.powered-by > a {
  color: #69afff !important;
  text-decoration: none !important;
}

body#top > .container {
  width: 100% !important;
  max-width: none !important;
  background: #1f2229 !important;
}

.license > a {
  font-size: smaller !important;
}

/* everything code related */
@media screen and (min-width: 58em) {
code {
  font-size: 17px !important;
  }
pre > code {
  font-size: 15px !important; }
}
code {
  color: #ffffff !important;
  background: #4f586e !important; /*4f586e*/
  font-family: Monaco, monospace;
}

pre {
  background: #292f3d !important;
  margin-left: 5%;
  padding: 1em;
  overflow-x: auto;
  border-width: 1px;
  border-color: #59aaff !important;
  border-style: dotted;
}

pre > code {
  background: #292f3d !important;
  /*font-size: 15px !important;*/
}

code a {
/*code, a:link, code a:visited */
  color: #ffffff !important;
  text-decoration: none !important;
}


/* syntax highlighting */
/*
.hljs,.hljs-subst {
  color: #ffffff !important;
}

.hljs-keyword {
  color: #ff9d00 !important;
  font-weight: 100 !important;
}

.hljs-built_in{
  color: #ff9d00 !important;
  font-weight: 100 !important;
}

.hljs-function{
  color: #ff9d00 !important;
}

.hljs-comment {
  color: #0088ff;
  font-style: italic;
}

.hljs-string {
  color: #3ad900;
}

.hljs-number,
.hljs-literal {
  color: #ff628c;
}
*/

/* talks widget */
#talks_happiness.home-section, #talks_datascience.home-section {
  padding-top: 0 !important;
}


#talks_datascience .article-title > a, #talks_happiness .article-title > a, .col-lg-10  h3.article-title > a {
  color: #ffffff !important;
  cursor: default !important;
  pointer-events: none !important;
  text-decoration: none !important;
}


a.nolink {
  cursor: default;
  color: #b2b2b2;
  pointer-events: none;
  text-decoration: none;
  /*border: none !important;*/
  border-color: #b2b2b2;
}

#talks_datascience .see-all {
 display: none;
}

.media-body > h3  > a {
  font-size: smaller !important;
}

.media.stream-item .stream-meta {
  margin-top: 3px !important;
}

.media.stream-item {
  margin-bottom: 25px !important;
}

#talk_list h3 {
  color: #b2b2b2 !important;
}

/*publications*/

#publications.home-section {
  padding-top: 50px !important;
}

p.intro > a {
  color: #69afff !important;
  text-decoration: none !important;
}

/*quote mostly*/

#quote {
  color: #1f2229;
  background: rgb(65,158,255);
  background: linear-gradient(125deg, rgba(65,158,255,1) 0%, rgba(150,201,255,1) 100%);
}


h2#mostly {
  font-weight: 100 !important;
  font-style: italic;
}

blockquote#mostly > i {
  color: #ffffff;
  font-weight: 100;
}

.section-heading > h1 {
  font-size: 22px !important;
}

@media screen and (min-width: 58em) {
  .section-heading > h1  {
    font-size: 30px !important; } }

/*license page*/

.legal > h1 {
  font-size: 22px !important;
}

@media screen and (min-width: 58em) {
  .legal > h1 {
      font-size: 30px !important; } }


.legal > h2 {
  font-size: 17px !important;
  font-weight: 100 !important;
}

@media screen and (min-width: 58em) {
  .legal > h2 {

      font-size: 22px !important; } }


.legal > h3 {
  color: #d1dbe3 !important;
  font-size: 15px !important;
}

@media screen and (min-width: 58em) {
  .legal > h3 {
      font-size: 18px !important;

  } }


.legal > p {
  font-size: 14px !important;
}

@media screen and (min-width: 58em) {
  .legal > p {
      font-size: 16px !important; } }
